.dashboard {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 3%;
    gap: 5%;
}

.newPresentation {
    align-self: flex-start;
}

.presentationContainer {
    display: flex;
    flex-wrap: wrap;
    max-height: 600px;
    gap: 1rem;
    overflow-y: scroll;
}

.presentation {
    aspect-ratio: 2 / 1;
    min-width: 100px;
    max-width: 400px;
}

.thumbnail {
    height: 50%;
}

.cardBody {
    height: 50%;
    font-size: small;
    overflow-y: auto;
}