.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: rgba(0, 0, 0, 0.6);
}

.slideNumber {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1%;
}

.slide {
    position: relative;
    width: 90vw;
    height: 80vh;
}